@model ProvidersApp.Models.operators

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>operators</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.full_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.full_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.regions.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.regions.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
